/* Import des polices */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

/* Variables globales */
:root {
    --color-background: #0a0a0a;
    --color-text: #d4af37;
    --color-highlight: #8b0000;
    --color-dark: #111;
    --color-border: rgba(255, 0, 0, 0.5);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps de la page */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);
    background-color: var(--color-background);
    text-align: center;
}

/* Conteneur général */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

/* HEADER */
header {
    background: linear-gradient(to right, var(--color-dark), black);
    padding: 50px 0;
    border-bottom: 2px solid var(--color-border);
}

h1 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-size: 18px;
    font-weight: 300;
}

/* SECTION INTRO */
.intro {
    padding: 20px;
    background: var(--color-dark);
    border: 2px solid var(--color-highlight);
    box-shadow: 0 0 20px var(--color-highlight);
    margin: 100px auto;
    width: 60%;
    border-radius: 10px;
}

img {
    border-style: solid;
    border-radius: 500px;
    width: 15%;
}

/* SECTION SOCIAL */
.socials {
    margin-top: 50px;
    padding: 50px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 40px;
    background-color: var(--color-highlight);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.discord:hover {
    background-color: #640000;
}

.telegram:hover {
    background-color: #640000;
}

.social-button img {
    width: 30px;
    height: auto;
}

/* FOOTER */
footer {
    background: black;
    padding: 20px;
    font-size: 14px;
    border-top: 2px solid var(--color-border);
    margin-top: 150px;
}
